{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataViz App</title>
    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="header">
        <h1>Twitter Sentiment Analysis App</h1>
    </div>
    <div class="container">
        <div class="hero">
            <h1>Welcome to Twitter Sentiment Analysis App</h1>
            <p>Your visualization for Twitter Airlines Data.</p>
        </div>
        <div class="features">
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>Task 1</h3>
                <p>Look at Task 1 Visualization.</p>
                <a href="{% url 'task1' %}" class="button">View Task 1</a>
            </div>
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>Task 2</h3>
                <p>Look at Task 2 Visualization.</p>
                <a href="{% url 'task2' %}" class="button">View Task 2</a>
            </div>
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>Task 3</h3>
                <p>Look at Task 3 Visualization.</p>
                <a href="{% url 'task3' %}" class="button">View Task 3</a>
            </div>
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>Task 4</h3>
                <p>Look at Task 4 Visualization.</p>
                <a href="{% url 'task4' %}" class="button">View Task 4</a>
            </div>
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>Task 5</h3>
                <p>Look at Task 5 Visualization.</p>
                <a href="{% url 'task5' %}" class="button">View Task 5</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2024 Sentiment Analysis App. All rights reserved.</p>
    </div>
</body>
</html>